body {
  font-family: sans-serif;
}

.social-links .link {
  color: teal;
}

.social-links .link:hover {
  color: tomato;
}

.social-links .link:focus {
  color: skyblue;
}

.social-links .link:active {
  color: yellowgreen;
}

.social-links .link:visited {
  color: purple;
}

.schedule-body > tr:hover {
  background-color: yellowgreen;
  color: white;
}

.post {
  color: green;
}

.text > span {
  text-decoration: line-through;
}

.link {
  text-decoration: none;
}

.site-nav .link {
  text-transform: uppercase;
}

.post-title {
  text-align: center;
}

.align-right {
  text-align: right;
}

.align-justify {
  text-align: justify;
}

.post-text {
  text-indent: 100px;
}

.text {
  font-size: 16px;
  line-height: 1.5;
}

.post-title {
  letter-spacing: 10px;
}

.post-text {
  letter-spacing: 5px;
}

.title {
  color: #ffffff;
  text-shadow: 6px 1px 9px #000000;
}

.title {
  color: #ffffff;
  text-shadow: 2px 2px 20px #ff0000, 5px 5px 5px #000000;
}

/* Поміняємо місцями жирність тексту заголовка і абзацу */
.title {
  font-weight: 400;
}

.text {
  font-weight: 700;
}

.title {
  font-style: italic;
}

pre {
  font-family: "Arial", "Helvetica", sans-serif;
  color: #2a2a2a;
  font-size: 16px;
}

pre::first-letter {
  font-family: "Tahoma", serif;
  font-size: 32px;
  color: skyblue;
}
